<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57674/OrderService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOrderService" contract="ServiceReference1.IOrderService"
                name="BasicHttpBinding_IOrderService" />
        </client>
    </system.serviceModel>
</configuration>